<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="SonarAnalyzer.*" />
      <package pattern="xunit*" />
      <package pattern="coverlet.*" />
      <package pattern="StackExchange.*" />
      <package pattern="DotNet.Testcontainers*" />
      <package pattern="Docker.DotNet*" />
      <package pattern="Polly*" />
      <package pattern="R3*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Azure.*" />
      <package pattern="Microsoft.Data.SqlClient*" />
      <package pattern="Microsoft.Identity.*" />
      <package pattern="System.Configuration.*" />
      <package pattern="System.Security.*" />
      <package pattern="Microsoft.IdentityModel.*" />
      <package pattern="dotnet-ef" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Asp.*" />
      <package pattern="Scalar.*" />
      <package pattern="FluentValidation*" />
      <package pattern="dotnet-stryker" />
      <package pattern="Stryker*" />
      <package pattern="Testcontainers" />
      <package pattern="Testcontainers.*" />
      <package pattern="Pipelines.Sockets.Unofficial" />
      <package pattern="Humanizer.Core" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="SSH.NET" />
      <package pattern="SharpZipLib" />
      <package pattern="BouncyCastle.Cryptography" />
      <package pattern="Konscious.*" />
      <package pattern="BCrypt.Net*" />
      <package pattern="Otp.*" />
      <package pattern="MassTransit*" />
      <package pattern="AWSSDK.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
